{% load static %}
{% load custom_filters %}

<div class="box-tabela-bomxop">
<table class="tabela-simulador" id="tabela-simulador-id">
	<thead class="cabecalho-tabela">

		<tr>
			{% for cab in cabecalhos %}
				<th>
					{{cab|safe}}
				</th>
			{% endfor %}
		</tr>

		{% if colunas_somadas %}
		<tr>
			{% for som in colunas_somadas %}
				<th>
					{{som|safe}}
				</th>
			{% endfor %}
		</tr>
		{% endif %}


	</thead>
	<tbody>
		{% for row in rows %}
			<tr>
				{% for col, value in row.items %}
					<td>
						{{value}}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
</div>