{% extends "ghost/estru.html" %}
{% load static %}
{% load custom_filters %}

{% block css %}
	<link rel="stylesheet" href="{% static "ghost/css/bomxop_linha.css" %}">
{% endblock css %}



{% block content %}
<div class="bomxop-linha-div">
	<div class="titulo-form borda-dupla-inferior titulo-bomxop-linha">OPs em Linha do Tempo
		<form class="form-relatorio-bomxop-linha" action="{% url "ghost:baixar-relatorio-bomxop-linha" %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="caminho-arquivo" value="{{caminho_arquivo}}">
			<button class="botao-pequeno" type="submit">Baixar relatório em Excel</button>
		</form>	
	</div>

	<div class="bomxop-linha-content-div">
	{% for sku, sku_val in dicio_tela.items %}
	<div class="sku-div">
		
		<div class="sku-titulo" id="pa-{{sku|replace:' ,_'}}">{{sku}}</div>

			{% for commod, commod_val in sku_val.items %}
				{% with sku|add:"|"|add:commod as chave %}

					<div class="commod-div">
						<div 
							class="commod-titulo dados-pa-{{sku|replace:' ,_'}} hidden" 
							id="{{sku|replace:' ,_'}}-{{commod|replace:' ,_'}}"
						>
							{{commod}}
						</div>

						{% for cc,vv in colunas_somadas_resumo|get_colunas_somadas_resumo:chave%}
						<div class="coluna-resumo-bomxop-linha dados-pa-{{sku|replace:' ,_'}} hidden">
							<div style="white-space: nowrap; width: fit-content;">{{cc|safe}}</div>
							<div>{{vv}}</div>
						</div>
						{% endfor %}
					</div>

					{% for cabecalhos, colunas_somadas, rows in commod_val %}
					<div id="tabela-{{sku|replace:' ,_'}}-{{commod|replace:' ,_'}}" class="tabela-boxmop-linha-div hidden">
						{% include "ghost/BOMxOP/bomxop_tabela.html" %}
					</div>
					{% endfor %}

				{% endwith %}
			{% endfor %}

			<div class="commod-div">
				<div 
					class="commod-titulo-total" 
					style="font-weight: bold;"
					id="{{sku|replace:' ,_'}}-TOTAL"
				>
					TOTAL
				</div>

				{% with sku|add:"|TOTAL" as chave %}
				{% for cc,vv in colunas_somadas_resumo|get_colunas_somadas_resumo:chave%}
				<div class="coluna-resumo-total">
					<div style="font-weight: bold; white-space: nowrap;">{{cc|safe}}</div>
					<div style="font-weight: bold;">{{vv}}</div>
				</div>
				{% endfor %}
				{% endwith %}
			</div>
			{% comment %} <div id="tabela-{{sku}}-TOTAL" class="tabela-boxmop-linha-div hidden">
				{% include "ghost/BOMxOP/bomxop_tabela.html" %}
			</div> {% endcomment %}

		</div>
	{% endfor %}
</div>


</div>
{% endblock content %}

{% block js %}
<script src="{% static "ghost/js/bomxop_linha/bomxop_linha_post.js" %}"></script>
{% endblock js %}