{% extends "ghost/estru.html" %}
{% load static %}

{% block content %}

<form id="form-multi-id" class="form form-multi-estruturas" method="post" action="{% url "ghost:multiestruturas" %}">
	{% csrf_token %}
	<input type="hidden" name="codigo-identificador" id="codigo-identificador-id">

	<span class="titulo-form borda-dupla-inferior">Multiestruturas</span>
	<div class="flex-flow-row linha-form">
		<label for="data-referencia-id">Data de Referência: </label>
		<input type="date" name="data-referencia" id="data-referencia-id" value="{{data_referencia}}"></input>
	</div>
	<div class="flex-flow-row linha-form">
		<label for="codigos-produtos-id">Códigos dos Produtos: </label>
		<textarea class="codigos-produtos" name="codigos-produtos" id="codigos-produtos-id"></textarea>
	</div>
	<button id="botao-multi-simples" class="botao-padrao" type="submit">Iniciar</button>
</form>
<script src="{% static "ghost/js/multiSimples.js" %}"></script>
{% endblock content %}