.bomxop-linha-div {
	width: 90vw;
	margin: 0 auto;
}

.form-bomxop-linha {
	place-self: center;
	padding: 1.5rem;
	display: flex;
	flex-flow: column;
	gap: 1.5rem;
}

.campo-codigos {
	display: flex;
	flex-flow: column;
}

.codigos {
	width: 40rem;
}

.botao-bomxop-linha {
	place-self: center;
	margin: 1rem;
}
 
.box-tabela-bomxop {
	max-width: 90%;
	height: fit-content;
	max-height: 70vh;
	overflow: auto;
	margin: 1rem auto;
	border: solid 3px gray;
	border-radius: 10px;
	padding: 0.5rem;
	margin-bottom: 3vh;
}

.col-resumo-bomxop-linha {
	justify-content: space-between;
}

.sku-titulo {
	width: 20rem;
	border-bottom: 2px solid dimgray;
	cursor: pointer;
}

.sku-div {
	padding: 0.5rem;
	border: 2px solid dimgray;
	border-radius: 10px;
	max-width: 90%;
	margin: 1rem auto;
	overflow: auto;
}

.commod-div {
	align-items: top;
	gap: 2rem;
	display: flex;
	flex-flow: row;
}

.commod-titulo {
	place-self: top;
	min-width: 20rem;
	cursor: pointer;
}

.commod-titulo-total {
	min-width: 20rem;
}

.coluna-resumo-bomxop-linha {
	padding-bottom: 0.5rem;
	border-top: 2px dashed lightgray;
}

.coluna-resumo-total {
	padding-bottom: 0.5rem;
	border-top: 2px solid dimgray;
}

.botao-mais {
	margin: 0.5rem;
}