.form-simulador-de-producao {
	display: flex;
	align-content: center;
	width: fit-content;
	gap: 0;
}

.fixed-left {
	position: sticky;
	left: 0;
	z-index: 10;
}

.fixed-left-col {
	position: sticky;
	left: 0;
	z-index: 10;
	outline: solid 2px rgba(202, 202, 202, 0.596);
}

.botao-simular {
	margin-left: 3rem;
}

.box-tabela-simulador {
	max-width: 90%;
	height: 90vh;
	overflow: auto;
	margin: 1rem auto;
	border: solid 3px gray;
	border-radius: 10px;
	padding: 0.5rem;
	margin-bottom: 5vh;
}

.titulo-tabela {
	font-size: 2.5rem;
	place-self: center;
}

.tabela-simulador thead {
	position: sticky;
	top:0;
	outline: solid 1px rgba(128, 128, 128, 0.479);
	z-index: 20;
}

.form-tabela {
	display: flex;
	flex-flow: column;
	padding-bottom: 0.5rem;
}

.armazem-checkbox-div {
	white-space: nowrap;
}

.box-armazens {
	display: flex;
	gap: 1rem;
	margin-right: 2rem;
}

.parte-superior-div-simulador {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	padding: .5rem;
}

.mensagem-tabela-simulador {
	padding: .5rem;
	padding-left: 1.5rem;
}

.titulo-simulador-de-producao {
	width: 90vw;
	margin: 0 auto;
}

.primeira-linha-simulador {
	display: flex;
	flex-flow: row wrap;
	width: 92vw;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.form-trazer-simulacao {
	display: flex;
	align-items: center;
	padding-top: 2rem;
}

.campos-simulador-producao {
	display: flex;
	padding: 0;
}

.botao-salvar-simulacao {
	margin-left: 1rem;
}

.form-phase-out {
	display: flex;
	flex-flow: row;
	margin-top: 1rem;
	place-self: center;
	width: 88vw;
	justify-content: center;
	align-items: start;
	gap: 1rem;
}

.codigos-produtos-phase-out {
	width: 40rem;
}

.campo-produtos-phase-out {
	display: flex;
	flex-flow: column;
}

.botao-carregar-phase-out {
	align-self: start;
	margin-left: 2rem;
}