{% extends "ghost/estru.html" %}
{% load static %}
{% block content %}

	<div class="aplicacoes-titulo borda-dupla-inferior"><strong>Aplicações</strong></div>

	<div class="aplicacoes-div">
		<div class="linha-vertical"></div>
		<ul class="aplicacoes-items">
			<li>
				- Multiestruturas
				<ul class="subaplicacao">
					<li>
							<a class="aplicacao-item" href="{% url "ghost:ghost" %}">
							BOM
						</a>
						</li>
						<li>
							<a class="aplicacao-item" href="{% url "ghost:bomxop" %}">
							BOM x OP
						</a> 
						</li>
						{% comment %} <li>
							<a class="aplicacao-item" href="{% url "ghost:bomxopstd" %}">
							BOM x OP (Standard)
						</a> 
						</li> {% endcomment %}
				</ul>
			</li>
			<li>
				- Materiais
				<ul class="subaplicacao">
					{% comment %} <li>
						<a class="aplicacao-item" href="{% url "ghost:simulador-de-producao" %}">
							Simulador de Produção
						</a>
					</li> {% endcomment %}
					<li>
						<a class="aplicacao-item" href="{% url "ghost:phase-out" %}">
							Phase Out
						</a>
					</li>
					{% comment %} <li>
						<a class="aplicacao-item" href="{% url "ghost:lista-de-falta" %}">
							Lista de Falta
						</a> {% endcomment %}
					</li>
				</ul>
			<li>
				- Ordens de Produção
				<ul class="subaplicacao">
					<li>
						<a class="aplicacao-item" href="{% url "ghost:explop" %}">
							EXPLOP - Explode Estrutura usando OPs
						</a>
					</li>
					<li>
						<a class="aplicacao-item" href="{% url "ghost:bomxop-linha-do-tempo" %}">
							OPs em Linha do Tempo
						</a> 
					</li>
			</ul>
			</li>
		</ul>
	</div>
	<script>document.body.classList.add("zoom-background-home")</script>
	{% endblock content %}