{% extends "ghost/estru.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'ghost/css/simulador_de_producao.css' %}">
{% endblock css %}

{% block content %}

<div class="titulo-form borda-dupla-inferior titulo-simulador-de-producao">
	Phase Out
	{% if caller != "inicial" %}
	<form class="botao-relatorio-phase-out" method="post">
		{% csrf_token %}
		<input type="hidden" name="codigo-identificador" id="codigo-identificador-id2">
		<button class="botao-pequeno" id="botao-relatorio-phase-out-id" data-code="{{codigo_aleatorio}}">Baixar Relatório em Excel</button>
	</form>
	{% endif %}
</div>
	{% if caller == "inicial" %}
		{% include "ghost/simuladordeproducao/phase_out_form_inicial.html" %}
	{% endif %}
	{% if caller == "carregar_estruturas" %}
		{% include "ghost/simuladordeproducao/phase_out_form_phase_out.html" %}
	{% endif %}
{% if caller != 'inicial' %}
<div class="box-tabela-simulador" id="box-tabela-simulador-id">
	{% include "ghost/simuladordeproducao/tabela.html" %}
	{% if campos_alteraveis %}
	<input type="hidden" name="campos-alteraveis" id="campos-alteraveis-id" value="{{campos_alteraveis}}">
	{% endif %}
</div>
{% endif %}

  
<input type="hidden" name="caller" id="caller-id" value="{{caller}}">

<script src="{% static "ghost/js/phaseOut.js" %}"></script>
{% if caller != "carregar_phase_out" %}
<script src="{% static "ghost/js/textareaDinamico.js" %}"></script>
{% endif %}
{% if caller != "inicial" %}
<script src="{% static "ghost/js/relatorioPhaseOut.js" %}"></script>
{% endif %}

{% endblock content %}