{% extends "ghost/estru.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'ghost/css/simulador_de_producao.css' %}">
{% endblock css %}

{% block content %}

<div class="titulo-form borda-dupla-inferior titulo-simulador-de-producao">Simulador de Produção</div>
<div class="primeira-linha-simulador">
	<form 
		id="form-multi-id" 
		class="form form-simulador-de-producao" 
		method="post" 
		action="{% url "ghost:adicionar-producao" %}"
	>
		{% csrf_token %}
		{% comment %} codigo-aleatorio é utilizado para identificar a tabela do 
			banco que será salva a simulação {% endcomment %}
		<input type="hidden" name="codigo-aleatorio" id="codigo-aleatorio-id" value="{{codigo_aleatorio}}">
		{% comment %} este codigo-identificador é utilizado para consultar a 
			porcentagem de andamento do processamento na tela de 'Processando' {% endcomment %}
		<input type="hidden" name="codigo-identificador" id="codigo-identificador-id">

		<input type="hidden" name="tabela-salva" id="tabela-salva-id">

		{% comment %} <div class="flex-flow-row linha-form hidden">
				<label for="csv-plan-id">Arquivo CSV - Planejamento Produção: </label>
				<input type="file" name="csv-plan" id="csv-plan-id"></input>
		</div> {% endcomment %}

		<div class="flex-flow-row linha-form campos-simulador-producao">
			<div class="no-wrap">
				<label for="codigo-produto-id">Código do Produto:</label>
				<input type="text" name="codigo-produto" id="codigo-produto-id" maxlength="15">
			</div>
			<div class="no-wrap">
				<label for="data-producao-id">Data da Produção:</label>
				<input type="date" name="data-producao" id="data-producao-id" value="{{data_str_nav}}">
			</div>
			<div class="no-wrap">
				<label for="quantidade-id">Quantidade:</label>
				<input type="number" step="1" name="quantidade" id="quantidade-id">
			</div>
			<div class="flex-flow-column">
			<div class="no-wrap">
				<label for="explode-pis-id">Explode PIs:</label>
				<input type="checkbox" name="explode-pis" id="explode-pis-id" checked>
			</div>
			<div class="no-wrap">
				<label for="abre-detalhamento-id">Abre detalhamento:</label>
				<input type="checkbox" name="abre-detalhamento" id="abre-detalhamento-id" checked>
			</div>
			</div>
		<button id="botao-multi-simples" class="botao-padrao botao-simular" type="submit">Simular</button>
		</div>
</form>
	{% if caller == "inicial" %}
	<form action="{% url "ghost:trazer-simulacao" %}" id="form-trazer-simulacao-salva-id" class="form-trazer-simulacao" method="POST">
		{% csrf_token %}
		<button id="botao-trazer-simulacao-id" class="botao-padrao background-cinza" type="submit">Trazer Simulação Salva</button>
		{% if tabelas %}
		<select name="simulacoes" id="simulacoes-id" class="hidden">
			<option value="">Selecione a Simulação</option>
			{% for tb in tabelas %}
			<option value="{{tb}}">{{tb}}</option>
			{% endfor %}
		</select>
		{% endif %}
	</form>
	{% endif %}
</div>

{% if caller != 'inicial' %}
<div class="box-tabela-simulador" id="box-tabela-simulador-id">
	{% include "ghost/simuladordeproducao/tabela_simulador_page.html" %}
	<input type="hidden" name="campos-alteraveis" id="campos-alteraveis-id" value="{{campos_alteraveis}}">
</div>

{% endif %}
<input type="hidden" name="caller" id="caller-id" value="{{caller}}">

<script src="{% static "ghost/js/simuladorDeProducao.js" %}"></script>

{% endblock content %}