{% load static %}

<table class="tabela-simulador" id="tabela-simulador-id">
	<thead class="cabecalho-tabela">

		<tr>
			{% for item in cabecalhos.categoria %}
				{% for col, colspan in item.items %}
				<th colspan="{{colspan}}" >{{col}}</th>
				{% endfor %}
			{% endfor %}
		</tr>

		<tr>
			{% for item in cabecalhos.data %}
				{% for col, colspan in item.items %}
				<th colspan="{{colspan}}">{{col}}</th>
				{% endfor %}
			{% endfor %}
		</tr>

		<tr>
			{% for item in cabecalhos.campo %}
				{% for col, colspan in item.items %}
				<th 
					{% if col in colunas_fixas %}
					class="fixed-left-col"
					{% endif %}
					colspan="{{colspan}}"
				>{{col}}</th>
				{% endfor %}
			{% endfor %}
		</tr>


	</thead>
	<tbody>
		{% for row in rows %}
			<tr>
				{% for col, value in row.items %}
					{% if 'index' not in col %}

					<td
							{% if col in colunas_fixas %}
							class="fixed-left-col background-white"
							{% endif %}
							{% if 'Resultado' in col %}
							{% if value < 0 %}
							class="background-vermelho-claro color-vermelho"
							{% endif %}
							{% endif %}
							data-unique="{{col}}|{{row.index}}"
					>
						{{value}}
					</td>

					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

<script src="{% static 'ghost/js/tabelaSimulador.js' %}"></script>