{% load static %}
{% load custom_filters %}

<table class="tabela-simulador" id="tabela-simulador-id">
	<thead class="cabecalho-tabela">

		{% for linha in cabecalhos %}
		<tr>
				{% for cab in linha %}
				{% for col, dados in cab.items %}
				{% with colspan=dados.0%}
				{% with cabecalho=dados.1 %}
				{% comment %} {% if 'Produção' not in cabecalho or data_str in cabecalho %} {% endcomment %}
				<th
					colspan="{{colspan}}" 
				>
					{{col}}
				</th>
				{% comment %} {% endif %} {% endcomment %}
				{% endwith %}
				{% endwith %}
				{% endfor %}
				{% endfor %}
			</tr>
			{% endfor %}


	</thead>
	<tbody>
		{% for row,rowspan in rows %}
			<tr>
				{% for col, value in row.items %}
					<td
					{% if 'insumo' == col %}
					rowspan="{{rowspan}}"
					{% endif %}
					>
						{{value}}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

<script src="{% static 'ghost/js/tabelaSimulador.js' %}"></script>