<div class="box-tabela-simulador" id="box-tabela-simulador-id">

	{% comment %} FORM DAS CHECKBOX DOS ARMAZÉNS {% endcomment %}
	<form 
		id="form-tabela-simulador-id" 
		class="form-tabela fixed-left" 
	>
		<div class="parte-superior-div-simulador">
			<div class="no-wrap">
				<label for="nome-da-simulacao-id">Nome da Simulação:</label>
				<input type="text" name="nome-da-simulacao" id="nome-da-simulacao-id" maxlength="15" value="{{tabela_salva}}">
			</div>
				{% csrf_token %}
			
			<button id="salvar-simulacao-id" class="botao-pequeno botao-salvar-simulacao">Salvar</button>
			<div class="mensagem-tabela-simulador hidden"></div>
		</div>
	</form>

	{% include "ghost/simuladordeproducao/tabela_simulador.html" %}
	<input type="hidden" name="campos-alteraveis" id="campos-alteraveis-id" value="{{campos_alteraveis}}">
</div>
