{% load static %}
{% load custom_filters %}

<table class="tabela-simulador" id="tabela-simulador-id">
	<thead class="cabecalho-tabela">

		{% for linha in cabecalhos %}
		<tr>
				{% for cab in linha %}
				{% for col, dados in cab.items %}
				{% with colspan=dados.0%}
				{% with cabecalho=dados.1 %}
				{% comment %} {% if 'Produção' not in cabecalho or data_str in cabecalho %} {% endcomment %}
				<th
					colspan="{{colspan}}" 
				>
					{{col}}
				</th>
				{% comment %} {% endif %} {% endcomment %}
				{% endwith %}
				{% endwith %}
				{% endfor %}
				{% endfor %}
			</tr>
			{% endfor %}


	</thead>
	<tbody>
		{% for row in rows %}
			<tr>
				{% for col, value in row.items %}
					{% if 'index' not in col %}
					{% comment %} {% if 'Produção' not in col or data_str in col %} {% endcomment %}
					<td
							{% if col in colunas_fixas %}
							class="fixed-left-col background-white"
							{% endif %}
							{% if 'Resultado' in col %}
							{% if value < 0 %}
							class="background-vermelho-claro color-vermelho"
							{% endif %}
							{% endif %}
							{% if col == 'Estoquexxx'|add:data_estoque|add:'xxxcodigo' %}
							{% with 'Estoquexxx'|add:data_estoque|add:'xxxdescricao' as col_descricao %}
							title="{{row|get_attr:col_descricao}}"
							{% endwith %}
							{% endif %}
							data-unique="{{col}}|{{row.index}}"
					>
						{{value}}
					</td>
					{% comment %} {% endif %} {% endcomment %}
					{% endif %}
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

<script src="{% static 'ghost/js/tabelaSimulador.js' %}"></script>